/*
 *  ---
 *  b. Choose 2 colors for backgrounds and highlights
 *    • Primary
 *    • Secondary
 *  ---
 * Interpretation:
 *   - Background and highlights are both background colors.
 *   - Primar color is most used.
 *   - Secondary color is less used.
 *
 *   Default background color does not count.
 */

 /*
  *  ---
  *  c. Create a navigation bar at the top of your page:
  *  • Use CSS to make the navigation bar “Stick” to the top when scrolling
  *  ...
  *  ---
  * Interpretation:
  *  The navigation bar is (according to tradition) below the header mentioned
  *  in part a.
  */

  /*
   *  d. Choose at least 2 different fonts on Google Fonts (https://fonts.google.com/):
   *    • Use 1 for headings and the other for text (paragraphs, span etc.)

	Headings an artistic sans-serif

	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100&display=swap');
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;


*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100&display=swap');

body {
	font-family: 'Dancing Script', cursive;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, #title, #nav {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	padding-bottom: 0.3em;
}

ul, ol {
	margin-top: 0;
	padding-top: 0;
}

#title {
	height: 50px;
	font-size: 50pt;
	padding-bottom: 1rem;
	margin: 0;
}

#logo {
	width: 50px;
	margin: 0.5rem;
	margin-bottom: unset;
	padding-right: 1rem
}

header {
	background-color: #00cccc;
	background-image: url(MixingDesk3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color: white;
}

.nav-bar-element {
	display: inline;
	margin: 0;
	margin-left: 2rem;
	padding: 0;
}

.nav-bar-element a {
	color: black;
	font-size: 1.2rem;
}
#nav {
	background-color: #00e0e0;
	padding-top: 0.6rem;
	margin: 0;
	height: 2rem;
	top: 0;
	position: sticky;
	width: 100%;
	z-index: 999;
}

#body {
	display: flex;
	overflow-y: scroll;
	font-size: 1.5rem;
	padding: 20px;
}

p {
	margin:0;
}

#left-side {
	background-color: #00cccc;
	display: flex;
	width: 200px;
	height: 100vw;
	margin-right: 0.5rem;
	position: sticky;
	top: 0;
}

main {
	display: flex;
	flex-direction: column;
}

#short-bio-container {
	width: fit-content;
	padding-bottom: 0.5em;
}

.short-bio{
	padding-left: 50px;
	text-align: center;
	width: 26em;
	font-size: 1.3em;
}

th, td {
	vertical-align: top;
	padding: 0.2em;
}